.main-body {
    width: 100%;
    height: 100vh;
    background: #9CECFB; 
    background: -webkit-linear-gradient(to right, #9CECFB, #65C7F7, #9CECFB);
    background: linear-gradient(to right, #9CECFB, #65C7F7, #9CECFB);
}
.langing-page-heading {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: poppins;
}
.login-btn {
    height: 50px;
    border-radius: 50px;
    width: 250px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    background: #fd746c;
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
    background: linear-gradient(to right, #ff9068, #fd746c);    
}