.facebook-btn {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #4267b2;
    color: #fff;
    border-radius: 25px;
}
.google-btn {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #4285f4;
    color: #fff;
    border-radius: 25px;
}