.login-main-body {
    width: 100%;
    height: 100% !important;
    background: #9CECFB; 
    background: -webkit-linear-gradient(to right, #9CECFB, #65C7F7, #9CECFB);
    background: linear-gradient(to right, #9CECFB, #65C7F7, #9CECFB);

}
.login-heading {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    font-family: poppins;
    color: #fff;
    text-decoration:underline;
}
.login-card {
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
    padding: 1.5rem 2rem;
    margin: 6rem 0 !important;
}
.card-headding {
    color: white;
    font: normal bolder 35px/20px poppins, sans-serif;
}

.sign-in-input-div {
    padding: 10px 5px;
    text-align: left;
}
.label {
    color: #fff;
    font-family: poppins;
    font-weight: bold !important;
    font-size: 17px;
    margin: 0px !important;
}
.signin-button {
    width: 100%;
    height: 40px;
    background-color: #ee6363;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 8px;
}
.ant-input {
    background-color:#fff;   
    color: #65C7F7;
}
.inputfield {
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:#fff;
    height: 40px;
    color: #65C7F7;
}
.forgetPasswordLink {
    color: #fff;
    font-weight: bold;
    font-family: poppins;
    margin: 0px!important;
    text-decoration:underline;
}
.accountlabel { 
    color: #fff;
    font: normal bolder 15px/20px poppins, sans-serif;
}
.accountLink {
    font: normal bolder 19px/20px poppins, sans-serif;
    color:#8e0e00;
}

@media only screen and (max-width: 600px) {
    .accountlabel { 
        color: #fff;
        font: normal bolder 13px/20px poppins, sans-serif;
    }
    .accountLink {
        font: normal bolder 15px/20px poppins, sans-serif;
        color:#8e0e00;
    }
  }