.inputFiledDiv {
    position: relative;
}
.inputFiledDiv .inputfield {
    width: 100%;
    height: 45px;
    outline: none;
    padding: 0 .7rem;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: .2s;
}
.inputfield .inputlabel { 
    position: absolute;
    top: 28%;
    left: 10px;
    font-size: .9rem;
    transition: .2s;
    padding:0 .1rem;
}